In [2]:
import pandas as pd

In [3]:
df = pd.read_json('response.json')

In [4]:
df.head()

,success,message,data
daily_pcr_testing_data,True,Success,"[{'date': '2020-02-18', 'count': '1'}, {'date'..."
global_deaths,True,Success,1179974
global_new_cases,True,Success,504412
global_new_deaths,True,Success,7106
global_recovered,True,Success,32761004

In [5]:
df.head(100)

,success,message,data
daily_pcr_testing_data,True,Success,"[{'date': '2020-02-18', 'count': '1'}, {'date'..."
global_deaths,True,Success,1179974
global_new_cases,True,Success,504412
global_new_deaths,True,Success,7106
global_recovered,True,Success,32761004
global_total_cases,True,Success,44813825
hospital_data,True,Success,"[{'id': 1, 'hospital_id': 1, 'cumulative_local..."
local_active_cases,True,Success,5804
local_deaths,True,Success,19
local_new_cases,True,Success,314
local_new_deaths,True,Success,0
local_recovered,True,Success,4282
local_total_cases,True,Success,10105
local_total_number_of_individuals_in_hospitals,True,Success,444
total_pcr_testing_count,True,Success,490563
update_date_time,True,Success,2020-10-30 19:46:05

In [6]:
df['data'][0]

[{'date': '2020-02-18', 'count': '1'},
 {'date': '2020-02-19', 'count': '0'},
 {'date': '2020-02-20', 'count': '1'},
 {'date': '2020-02-21', 'count': '0'},
 {'date': '2020-02-22', 'count': '0'},
 {'date': '2020-02-23', 'count': '0'},
 {'date': '2020-02-24', 'count': '0'},
 {'date': '2020-02-25', 'count': '0'},
 {'date': '2020-02-26', 'count': '2'},
 {'date': '2020-02-27', 'count': '2'},
 {'date': '2020-02-28', 'count': '5'},
 {'date': '2020-02-29', 'count': '3'},
 {'date': '2020-03-01', 'count': '1'},
 {'date': '2020-03-02', 'count': '10'},
 {'date': '2020-03-03', 'count': '6'},
 {'date': '2020-03-04', 'count': '9'},
 {'date': '2020-03-05', 'count': '1'},
 {'date': '2020-03-06', 'count': '4'},
 {'date': '2020-03-07', 'count': '7'},
 {'date': '2020-03-08', 'count': '3'},
 {'date': '2020-03-09', 'count': '1'},
 {'date': '2020-03-10', 'count': '12'},
 {'date': '2020-03-11', 'count': '10'},
 {'date': '2020-03-12', 'count': '17'},
 {'date': '2020-03-13', 'count': '25'},
 {'date': '2020-03-14', 'count': '88'},
 {'date': '2020-03-15', 'count': '65'},
 {'date': '2020-03-16', 'count': '89'},
 {'date': '2020-03-17', 'count': '151'},
 {'date': '2020-03-18', 'count': '108'},
 {'date': '2020-03-19', 'count': '162'},
 {'date': '2020-03-20', 'count': '119'},
 {'date': '2020-03-21', 'count': '149'},
 {'date': '2020-03-22', 'count': '174'},
 {'date': '2020-03-23', 'count': '143'},
 {'date': '2020-03-24', 'count': '164'},
 {'date': '2020-03-25', 'count': '128'},
 {'date': '2020-03-26', 'count': '131'},
 {'date': '2020-03-27', 'count': '152'},
 {'date': '2020-03-28', 'count': '108'},
 {'date': '2020-03-29', 'count': '136'},
 {'date': '2020-03-30', 'count': '155'},
 {'date': '2020-03-31', 'count': '224'},
 {'date': '2020-04-01', 'count': '219'},
 {'date': '2020-04-02', 'count': '250'},
 {'date': '2020-04-03', 'count': '311'},
 {'date': '2020-04-04', 'count': '295'},
 {'date': '2020-04-05', 'count': '324'},
 {'date': '2020-04-06', 'count': '394'},
 {'date': '2020-04-07', 'count': '353'},
 {'date': '2020-04-08', 'count': '376'},
 {'date': '2020-04-09', 'count': '287'},
 {'date': '2020-04-10', 'count': '397'},
 {'date': '2020-04-11', 'count': '393'},
 {'date': '2020-04-12', 'count': '609'},
 {'date': '2020-04-13', 'count': '431'},
 {'date': '2020-04-14', 'count': '342'},
 {'date': '2020-04-15', 'count': '465'},
 {'date': '2020-04-16', 'count': '548'},
 {'date': '2020-04-17', 'count': '710'},
 {'date': '2020-04-18', 'count': '522'},
 {'date': '2020-04-19', 'count': '702'},
 {'date': '2020-04-20', 'count': '642'},
 {'date': '2020-04-21', 'count': '650'},
 {'date': '2020-04-22', 'count': '774'},
 {'date': '2020-04-23', 'count': '1141'},
 {'date': '2020-04-24', 'count': '876'},
 {'date': '2020-04-25', 'count': '816'},
 {'date': '2020-04-26', 'count': '1075'},
 {'date': '2020-04-27', 'count': '1869'},
 {'date': '2020-04-28', 'count': '1139'},
 {'date': '2020-04-29', 'count': '1545'},
 {'date': '2020-04-30', 'count': '1397'},
 {'date': '2020-05-01', 'count': '1107'},
 {'date': '2020-05-02', 'count': '1681'},
 {'date': '2020-05-03', 'count': '1636'},
 {'date': '2020-05-04', 'count': '1045'},
 {'date': '2020-05-05', 'count': '1491'},
 {'date': '2020-05-06', 'count': '1147'},
 {'date': '2020-05-07', 'count': '1553'},
 {'date': '2020-05-08', 'count': '1821'},
 {'date': '2020-05-09', 'count': '1424'},
 {'date': '2020-05-10', 'count': '1282'},
 {'date': '2020-05-11', 'count': '1057'},
 {'date': '2020-05-12', 'count': '1078'},
 {'date': '2020-05-13', 'count': '889'},
 {'date': '2020-05-14', 'count': '1489'},
 {'date': '2020-05-15', 'count': '938'},
 {'date': '2020-05-16', 'count': '1081'},
 {'date': '2020-05-17', 'count': '1254'},
 {'date': '2020-05-18', 'count': '960'},
 {'date': '2020-05-19', 'count': '1062'},
 {'date': '2020-05-20', 'count': '1108'},
 {'date': '2020-05-21', 'count': '1603'},
 {'date': '2020-05-22', 'count': '1970'},
 {'date': '2020-05-23', 'count': '1998'},
 {'date': '2020-05-24', 'count': '1742'},
 {'date': '2020-05-25', 'count': '1347'},
 {'date': '2020-05-26', 'count': '1146'},
 {'date': '2020-05-27', 'count': '1838'},
 {'date': '2020-05-28', 'count': '1713'},
 {'date': '2020-05-29', 'count': '1330'},
 {'date': '2020-05-30', 'count': '1727'},
 {'date': '2020-05-31', 'count': '1420'},
 {'date': '2020-06-01', 'count': '1066'},
 {'date': '2020-06-02', 'count': '1783'},
 {'date': '2020-06-03', 'count': '2086'},
 {'date': '2020-06-04', 'count': '1890'},
 {'date': '2020-06-05', 'count': '1816'},
 {'date': '2020-06-06', 'count': '1243'},
 {'date': '2020-06-07', 'count': '1718'},
 {'date': '2020-06-08', 'count': '1766'},
 {'date': '2020-06-09', 'count': '1579'},
 {'date': '2020-06-10', 'count': '1433'},
 {'date': '2020-06-11', 'count': '1677'},
 {'date': '2020-06-12', 'count': '1390'},
 {'date': '2020-06-13', 'count': '1165'},
 {'date': '2020-06-14', 'count': '1116'},
 {'date': '2020-06-15', 'count': '1651'},
 {'date': '2020-06-16', 'count': '1276'},
 {'date': '2020-06-17', 'count': '1381'},
 {'date': '2020-06-18', 'count': '1374'},
 {'date': '2020-06-19', 'count': '1495'},
 {'date': '2020-06-20', 'count': '827'},
 {'date': '2020-06-21', 'count': '1181'},
 {'date': '2020-06-22', 'count': '1134'},
 {'date': '2020-06-23', 'count': '1232'},
 {'date': '2020-06-24', 'count': '1349'},
 {'date': '2020-06-25', 'count': '1243'},
 {'date': '2020-06-26', 'count': '1439'},
 {'date': '2020-06-27', 'count': '1607'},
 {'date': '2020-06-28', 'count': '833'},
 {'date': '2020-06-29', 'count': '1340'},
 {'date': '2020-06-30', 'count': '1365'},
 {'date': '2020-07-01', 'count': '1296'},
 {'date': '2020-07-02', 'count': '1399'},
 {'date': '2020-07-03', 'count': '1519'},
 {'date': '2020-07-04', 'count': '852'},
 {'date': '2020-07-05', 'count': '599'},
 {'date': '2020-07-06', 'count': '1290'},
 {'date': '2020-07-07', 'count': '1610'},
 {'date': '2020-07-08', 'count': '1182'},
 {'date': '2020-07-09', 'count': '1424'},
 {'date': '2020-07-10', 'count': '1749'},
 {'date': '2020-07-11', 'count': '1341'},
 {'date': '2020-07-12', 'count': '2251'},
 {'date': '2020-07-13', 'count': '1310'},
 {'date': '2020-07-14', 'count': '2288'},
 {'date': '2020-07-15', 'count': '2470'},
 {'date': '2020-07-16', 'count': '2406'},
 {'date': '2020-07-17', 'count': '2723'},
 {'date': '2020-07-18', 'count': '1888'},
 {'date': '2020-07-19', 'count': '2184'},
 {'date': '2020-07-20', 'count': '1924'},
 {'date': '2020-07-21', 'count': '2158'},
 {'date': '2020-07-22', 'count': '1700'},
 {'date': '2020-07-23', 'count': '2012'},
 {'date': '2020-07-24', 'count': '1811'},
 {'date': '2020-07-25', 'count': '2018'},
 {'date': '2020-07-26', 'count': '1851'},
 {'date': '2020-07-27', 'count': '1126'},
 {'date': '2020-07-28', 'count': '1349'},
 {'date': '2020-07-29', 'count': '1403'},
 {'date': '2020-07-30', 'count': '1683'},
 {'date': '2020-07-31', 'count': '1600'},
 {'date': '2020-08-01', 'count': '1864'},
 {'date': '2020-08-02', 'count': '1540'},
 {'date': '2020-08-03', 'count': '1712'},
 {'date': '2020-08-04', 'count': '1395'},
 {'date': '2020-08-05', 'count': '935'},
 {'date': '2020-08-06', 'count': '1085'},
 {'date': '2020-08-07', 'count': '1069'},
 {'date': '2020-08-08', 'count': '1343'},
 {'date': '2020-08-09', 'count': '1803'},
 {'date': '2020-08-10', 'count': '1519'},
 {'date': '2020-08-11', 'count': '2909'},
 {'date': '2020-08-12', 'count': '2549'},
 {'date': '2020-08-13', 'count': '2732'},
 {'date': '2020-08-14', 'count': '2437'},
 {'date': '2020-08-15', 'count': '2839'},
 {'date': '2020-08-16', 'count': '1561'},
 {'date': '2020-08-17', 'count': '1989'},
 {'date': '2020-08-18', 'count': '3518'},
 {'date': '2020-08-19', 'count': '2247'},
 {'date': '2020-08-20', 'count': '2876'},
 {'date': '2020-08-21', 'count': '2759'},
 {'date': '2020-08-22', 'count': '2800'},
 {'date': '2020-08-23', 'count': '2690'},
 {'date': '2020-08-24', 'count': '2693'},
 {'date': '2020-08-25', 'count': '2372'},
 {'date': '2020-08-26', 'count': '2847'},
 {'date': '2020-08-27', 'count': '2853'},
 {'date': '2020-08-28', 'count': '2748'},
 {'date': '2020-08-29', 'count': '2072'},
 {'date': '2020-08-30', 'count': '2129'},
 {'date': '2020-08-31', 'count': '1941'},
 {'date': '2020-09-01', 'count': '2495'},
 {'date': '2020-09-02', 'count': '2163'},
 {'date': '2020-09-03', 'count': '2511'},
 {'date': '2020-09-04', 'count': '2389'},
 {'date': '2020-09-05', 'count': '2297'},
 {'date': '2020-09-06', 'count': '1724'},
 {'date': '2020-09-07', 'count': '1353'},
 {'date': '2020-09-08', 'count': '2128'},
 {'date': '2020-09-09', 'count': '1776'},
 {'date': '2020-09-10', 'count': '2440'},
 {'date': '2020-09-11', 'count': '2464'},
 {'date': '2020-09-12', 'count': '2050'},
 {'date': '2020-09-13', 'count': '2201'},
 {'date': '2020-09-14', 'count': '1434'},
 {'date': '2020-09-15', 'count': '2301'},
 {'date': '2020-09-16', 'count': '2600'},
 {'date': '2020-09-17', 'count': '1965'},
 {'date': '2020-09-18', 'count': '1714'},
 {'date': '2020-09-19', 'count': '2314'},
 {'date': '2020-09-20', 'count': '1112'},
 {'date': '2020-09-21', 'count': '1398'},
 {'date': '2020-09-22', 'count': '2827'},
 {'date': '2020-09-23', 'count': '1882'},
 {'date': '2020-09-24', 'count': '2555'},
 {'date': '2020-09-25', 'count': '1595'},
 {'date': '2020-09-26', 'count': '2457'},
 {'date': '2020-09-27', 'count': '1862'},
 {'date': '2020-09-28', 'count': '1398'},
 {'date': '2020-09-29', 'count': '2407'},
 {'date': '2020-09-30', 'count': '1724'},
 {'date': '2020-10-01', 'count': '1517'},
 {'date': '2020-10-02', 'count': '2114'},
 {'date': '2020-10-03', 'count': '2244'},
 {'date': '2020-10-04', 'count': '1148'},
 {'date': '2020-10-05', 'count': '1890'},
 {'date': '2020-10-06', 'count': '4880'},
 {'date': '2020-10-07', 'count': '5608'},
 {'date': '2020-10-08', 'count': '4824'},
 {'date': '2020-10-09', 'count': '7196'},
 {'date': '2020-10-10', 'count': '7495'},
 {'date': '2020-10-11', 'count': '7248'},
 {'date': '2020-10-12', 'count': '6591'},
 {'date': '2020-10-13', 'count': '6566'},
 {'date': '2020-10-14', 'count': '8789'},
 {'date': '2020-10-15', 'count': '8161'},
 {'date': '2020-10-16', 'count': '8589'},
 {'date': '2020-10-17', 'count': '9513'},
 {'date': '2020-10-18', 'count': '7099'},
 {'date': '2020-10-19', 'count': '7136'},
 {'date': '2020-10-20', 'count': '8270'},
 {'date': '2020-10-21', 'count': '8777'},
 {'date': '2020-10-22', 'count': '8089'},
 {'date': '2020-10-23', 'count': '9469'},
 {'date': '2020-10-24', 'count': '9189'},
 {'date': '2020-10-25', 'count': '8846'},
 {'date': '2020-10-26', 'count': '9619'},
 {'date': '2020-10-27', 'count': '8831'},
 {'date': '2020-10-28', 'count': '11552'},
 {'date': '2020-10-29', 'count': '9725'}]

In [7]:
df_count = pd.read_json(df['data'][0])

ValueError: Invalid file path or buffer object type: <class 'list'>