In [1]:
import pandas as pd
import torch
import tensorflow as tf

In [5]:
data = pd.read_csv(r'../Dataset/Datathon-COVID-Completed.csv')

In [11]:
data.tail()

,Date,Colombo - Total,Gampaha - Total,Kalatura - Total,Jaffna - Total,Mannar - Total,Kilinochchi,Mullaitivu,Vavuniya - Total,Puttalam - Total,...,Matara - Total,Galle - Total,Kandakadu Rehabilitation Center - Total,Naval Base - Welisara - Total,Overseas Arrivals (Quarantine Centers) - Total,Senapura Rehabilitation Center - Total,Unspecified - Total,Godagama - Total,Kendalanda - Total,Total_Island
277,10/30/20,0,0,0,0,0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
278,10/31/20,0,0,0,0,0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
279,11/1/20,0,0,0,0,0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
280,11/2/20,0,0,0,0,0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0.0
281,NaN,1887,2483,131,61,8,0.0,0.0,6,48,...,6,24,396,0,8,145,3741,1,1,NaN

In [22]:
island_data = data.iloc[0:277, -1]

In [23]:
island_data.tail(50)

227      8.0
228     14.0
229     26.0
230     39.0
231     28.0
232      9.0
233      0.0
234      5.0
235      5.0
236      2.0
237      4.0
238     12.0
239     14.0
240     11.0
241      9.0
242     12.0
243      4.0
244     11.0
245      3.0
246     11.0
247      6.0
248      2.0
249      6.0
250      8.0
251     75.0
252    262.0
253    519.0
254    207.0
255     29.0
256     35.0
257    105.0
258    124.0
259     92.0
260    194.0
261    132.0
262     74.0
263    110.0
264    121.0
265     63.0
266     87.0
267    186.0
268    167.0
269    309.0
270    866.0
271    368.0
272    351.0
273    541.0
274    457.0
275    335.0
276    586.0
Name: Total_Island, dtype: float64

In [17]:
## splitting data

In [24]:
test_data_size = 15
train_data = island_data[:-test_data_size]
test_data = island_data[-test_data_size:]

In [25]:
train_data.shape

(262,)

In [26]:
train_data

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
257    105.0
258    124.0
259     92.0
260    194.0
261    132.0
Name: Total_Island, Length: 262, dtype: float64

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()